<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucky.androidlearn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <permission android:name="com.lucky.androidlearn.aidl.bms" />

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:excludeFromRecents="true" -->
        <activity android:name=".presentation.ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.common.CommonWidgetActivity"
            android:label="@string/common_view" />
        <activity
            android:name=".widget.material.MaterialWidgetActivity"
            android:label="@string/material_view" />
        <activity
            android:name=".service.ServiceActivity"
            android:label="@string/service" />
        <activity
            android:name=".widget.common.editText.EditTextWidgetActivity"
            android:label="EditText" />
        <activity
            android:name=".launchmode.LaunchModeActivity"
            android:label="@string/launch_mode"
            android:launchMode="standard" />

        <activity
            android:name=".launchmode.StandardActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/standard_one"
            android:launchMode="standard" />

        <activity
            android:name=".launchmode.SecondStandardActivity"
            android:label="@string/standard_two"
            android:launchMode="standard" />


        <activity
            android:name=".launchmode.SingleTopActivity"
            android:label="@string/single_top"
            android:launchMode="singleTop" />

        <!-- taskAffinity 可以指定将启动的Activity所在的任务栈 一般和singleTask配合使用 -->
        <activity
            android:name=".launchmode.SingleTaskActivity"
            android:label="@string/single_task"
            android:launchMode="singleTask"
            android:taskAffinity="com.android.launchmode.singletask" />

        <activity
            android:name=".launchmode.ExcludeFromRecentsActivity"
            android:label="@string/exclue_from_recents"
            android:launchMode="singleTop" />

        <activity
            android:name=".launchmode.SingleInstanceActivity"
            android:label="@string/single_instance"
            android:launchMode="singleInstance" />

        <activity
            android:name=".widget.common.ActivityDialogActivity"
            android:label="ActivityDialog"
            android:launchMode="singleTop"
            android:theme="@style/ActivityDialogStyle" />

        <activity
            android:name=".widget.common.AppForegroundActivity"
            android:label="@string/is_running_foreground" />

        <activity
            android:name=".widget.screen.ScreenDensityActivity"
            android:label="@string/screen_density" />

        <activity
            android:name=".widget.common.RecyclerViewActivity"
            android:label="@string/RecyclerView" />

        <activity
            android:name=".widget.common.GoogleSwipeRefreshRVActivity"
            android:label="@string/RecyclerView" />

        <activity
            android:name=".widget.common.SmartRefreshActivity"
            android:label="@string/RecyclerView" />

        <activity
            android:name=".media.MediaActivity"
            android:label="@string/multi_media" />

        <activity
            android:name=".media.image.ImageActivity"
            android:label="@string/image" />

        <activity
            android:name=".permission.PermissionActivity"
            android:label="@string/permission_manage" />

        <activity
            android:name=".permission.PermissionManageActivity"
            android:label="@string/permission_manage" />

        <activity
            android:name=".permission.PermissionFragmentActivity"
            android:label="@string/permission_manage" />

        <activity
            android:name=".widget.common.fancygallery.FancyGalleryMainActivity"
            android:label="@string/permission_manage" />

        <activity
            android:name=".widget.common.fancygallery.example.SimpleExample"
            android:label="@string/permission_manage" />

        <activity
            android:name=".widget.common.fancygallery.example.ViewGroupExample"
            android:label="@string/permission_manage" />
        <activity
            android:name=".widget.common.fancygallery.example.ViewGroupReflectionExample"
            android:label="@string/permission_manage" />

        <activity
            android:name=".widget.common.fancygallery.example.XmlInflateExample"
            android:label="@string/permission_manage" />

        <activity
            android:name=".widget.common.pulllistview.PullListViewActivity"
            android:label="@string/permission_manage" />

        <activity
            android:name=".media.image.CropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".media.camera.TakePhotosByCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".xml.XmlActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".widget.notification.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".widget.notification.TargetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".webservice.demo.CityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".webservice.demo.WebServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".webservice.demo.WeatherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".reference.ReferenceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".animation.AnimationMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".animation.viewanimation.ViewAnimationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".animation.CustomAnimationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".animation.objectanimation.ObjectorAnimationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".animation.valueanimation.ValueAnimatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".animation.LayoutAnimationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".animation.transitionanimation.TransitionStartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".animation.transitionanimation.TransitionTargetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".provider.MainProviderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".provider.SimpleProviderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".animation.transitionanimation.TransitionMainStartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".animation.transitionanimation.TransitionMainTargetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".animation.SVGAnimationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".animation.EarthMoonSystemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".widget.common.editText.CountInputCharacterOneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".widget.common.editText.CountInputCharacterTwoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".widget.common.editText.InputLimitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".media.video.VideoIntentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".media.video.VideoViewActivity"
            android:label="VideoView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 加上configChanges则不会重新走生命周期方法onCreate方法也不会调用 同时在屏幕方向发生变化的时候会调用onConfigChanged方法-->
        <activity
            android:name=".media.video.VideoViewAdvancedActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="VideoView进阶学习"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".media.video.SurfaceViewVideoActivity"
            android:label="SurfaceVideo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".media.video.VideoMediaStoreActivity"
            android:label="VideoMediaStore"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".permission.LocationPermissionCheckActivity"
            android:label="定位权限检查"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".media.video.VideoCaptureActivity"
            android:label="VideoCapture"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".media.video.VideoCaptureAdvancedActivity"
            android:label="VideoCaptureAdvanced"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".media.video.VideoCaptureTextureActivity"
            android:label="VideoCaptureTexture"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".widget.common.editText.EditTextKeyBoardChangeActivity"
            android:label="EditTextKeyBoard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".widget.common.editText.keyBoardChangeActivity"
            android:label="键盘监听"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".math.MathActivity"
            android:label="@string/math_util"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".annotation.AnnotationActivity"
            android:label="@string/android_annotation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".widget.constraintlayout.ConstraintLayoutActivity"
            android:label="@string/constraint_layout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".mvc.MVCMainActivity"
            android:label="@string/architecture_mvc"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".mvp.MVPMainActivity"
            android:label="@string/architecture_mvp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".mvp.retrofit.ComplexMVPActivity"
            android:label="@string/architecture_mvp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".mvp.simplemvp.SimpleMVPActivity"
            android:label="@string/architecture_simple_mvp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".mvvm.MVVMMainActivity"
            android:label="@string/architecture_mvvm"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".mvvm.learn.MVVMLearnActivity"
            android:label="@string/architecture_mvvm_learn"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".mvvm.learn.DataBindingIncludeActivity"
            android:label="@string/architecture_mvvm_databing_include"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".mvvm.learn.DataBindingRVActivity"
            android:label="@string/architecture_mvvm_databing_recycleview"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".rxjava.ObserverActivity"
            android:label="@string/observer_pattern"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".rxjava2.RxJavaActivity"
            android:label="@string/rxjava"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".rxjava2.RxJavaBasicActivity"
            android:label="@string/rxjava_basic"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".rxjava2.RxJavaThreadControlActivity"
            android:label="@string/rxjava_thread_control"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".rxjava2.RxJavaOperatorActivity"
            android:label="@string/rxjava_thread_control"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".rxjava2.RxJavaKeyWordsSearchActivity"
            android:label="@string/rxjava_keywords_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".rxjava2.RxJavaThrottleFirstActivity"
            android:label="@string/rxjava_avoid_double_click"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".rxjava2.RxJavaMergeActivity"
            android:label="@string/rxjava_merge"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".rxjava2.RxJavaCountDownActivity"
            android:label="@string/rxjava_countdown"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".rxjava2.RxJavaImageDownloadActivity"
            android:label="@string/rxjava_image_download"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".handler.HandlerLearnActivity"
            android:label="@string/handler_learn"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".handler.HandlerThreadActivity"
            android:label="@string/work_to_handler"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".rxjava2.search.RealTimeSearchActivity"
            android:label="@string/real_time_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".dagger2learn.learn00.Dagger2Main0Activity"
            android:label="@string/dagger2_learn_0"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".dagger2learn.learn01.Dagger2MainActivity"
            android:label="@string/dagger2_learn_1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".dagger2learn.learn02.Dagger2Main2Activity"
            android:label="@string/dagger2_learn_2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".dagger2learn.learn03.Dagger2Main3Activity"
            android:label="@string/dagger2_learn_3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".dagger2learn.lesson04.Dagger2Main4Activity"
            android:label="@string/dagger2_learn_4"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".dagger2learn.lesson04.Dagger2Main5Activity"
            android:label="@string/dagger2_learn_5"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".dagger2learn.DaggerLearnMainActivity"
            android:label="@string/dagger2_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".animation.curveanimation.CurveAnimationMainActivity"
            android:label="@string/curve_animation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ipc.IPCLearnActivity"
            android:label="@string/ipc_learn"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".messager.MessengerActivity"
            android:label="@string/messager_learn"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".aidl.BookManagerActivity"
            android:label="@string/ipc_aidl"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".annotation.SimpleButterKnifeActivity"
            android:label="@string/simple_butterknife"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.lucky.kotlin.KotlinLearnMainActivity"
            android:label="@string/kotlin_learn"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".widget.bottomlayout.BottomLayoutActivity"
            android:label="@string/bottom_layout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".widget.marquee.MarqueeViewActivity"
            android:label="@string/marqueeview"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".crosswalk.CrossWalkActivity"
            android:label="CrossWalk"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <activity
            android:name=".j2v8.J2V8LearnActivity"
            android:label="J2V8学习"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <activity
            android:name=".security.SecurityCheckActivity"
            android:label="安全信息检查"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <activity
            android:name=".json.JsonLearnActivity"
            android:label="Json解析"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <activity
            android:name=".eventchange.AttributeChangeListenActivity"
            android:label="属性变化监听"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <activity
            android:name=".network.NetWorkTrafficActivity"
            android:label="@string/network_traffic"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <activity
            android:name=".json.JsonToNodesActivity"
            android:label="@string/json_to_nodes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <activity
            android:name=".multithread.MultiThreadActivity"
            android:label="@string/multi_thread_safe"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <activity
            android:name=".widget.common.LayoutGravityActivity"
            android:label="@string/layout_gravity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />
        <!-- 异常总结 exception_summary -->
        <activity
            android:name=".exception.ExceptionSummaryActivity"
            android:label="@string/exception_summary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />
        <!-- Toast异常 -->
        <activity
            android:name=".exception.toast.ToastExceptionActivity"
            android:label="@string/toast_exception"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <service
            android:name=".core.service.PollService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="POLLING_ACTION" />
            </intent-filter>
        </service>

        <!-- Messenger 的使用 -->
        <service
            android:name=".messager.MessengerService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote_ms" />

        <!-- AIDL的使用 -->
        <service
            android:name=".aidl.BookManagerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote_bms">
            <intent-filter>
                <action android:name="com.lucky.aidl.bms" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>


        <!--  android:process=":remote"  -->
        <service
            android:name=".service.LearnStartService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

        <service android:name=".service.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <!-- JobScheduler JobService JobInfo -->
        <service android:name=".service.LocationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
            android:name=".service.LearnStartServiceII"
            android:enabled="true"
            android:exported="false"
            android:process="com.lucky.androidlearn.start.service2" />

        <!-- 数据网络监控 -->
        <service
            android:name=".network.traffic.TrafficMonitorService"
            android:enabled="true"
            android:exported="false"
            />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lucky.androidlearn.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.lucky.androidlearn.provider.BooksProvider"
            android:authorities="com.lucky.androidlearn.provider" />

    </application>

</manifest>